<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row" style="height: 30px;"></div>
        <div class="row" style="height: 70px;">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <a href="/register/">跳转到注册页面</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="/login/" class="form-horizontal" method="post">
                    <div class="form-group">
                        <label class="control-label">用户名：</label>
                        <input type="text" placeholder="请输入用户名" name="username" class="form-control">
                        <label class="control-label">密码：</label>
                        <input type="password" placeholder="请输入密码" name="password" class="form-control">
                        <label class="control-label" style="height: 20px;"></label>
                        <input type="submit" value="登陆" class="form-control btn-primary" style="width:80px;">
                        <label class="control-label" style="color: red;">{{ error_msg }}</label>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <script src="/static/jquery-1.12.4.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/md5.js"></script>
</body>
</html>